<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>

  <div class="container" style="width:50%; margin : 0 auto;">
    <form id="jy_form">

      <label for="fname">Title</label>
      <input type="text" id="title" name="title" placeholder="Your Title..">

      <label for="lname">Author</label>
      <input type="text" id="author" name="author" placeholder="Your Author..">

      <label for="country">Country</label>
      <select id="country" name="country">
      <option value="korea">Korea</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

      <label for="subject">Description</label>
      <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
      <input id="my_submit" type="button" class="w3-button w3-green" value="제출">
    </form>
  </div>

  <div clas="row w3-margin">
    <div class="w3-half" style="margin-top : 30px;">
      <table id="contents_table" class="w3-table w3-striped w3-border">
        <thead>
          <tr>
            <th>Title</th>
            <th>Country</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <% var split_data = Object.keys(data).toString().split(","); %>
            <% for(var i = 0 ; i < Object.keys(data).length ; i ++ ) {%>
              <tr>
                <td><%= split_data[i]  %></td>
                <td><%= JSON.parse(data[split_data[i]]).country %></td>
                <td><%= JSON.parse(data[split_data[i]]).author %></td>
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div id="desc_div" class="w3-half w3-border" style="margin-top : 30px;">
      <div class="w3-center">
        <h2>description </h2>
        <hr>
        <p id="desc_p"></p>
      </div>

    </div>
    <div class="w3-right">
      <button id="next_btn" class="w3-btn w3-green">다음</button>
    </div>
  </div>



<script src="javascripts/write.js"></script>
</body>

</html>
